# macOS
# .aliases


# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias dsk="cd ${HOME}/Desktop"
alias dwn="cd ${HOME}/Downloads"
alias drp="cd ${HOME}/Dropbox"
alias dtf="cd ${HOME}/dotfiles"
alias prj="cd ${HOME}/projects"

# List all files, colorized
# Appends / to dirs, * to execs, @ to symlinks
alias ls="ls -A -F -G"

# List all files, colorized, in long format
# Appends / to dirs, * to execs, @ to symlinks
alias lsl="ls -l -a -F -G"

# List only directories
alias lsd="ls -d -F -G *"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be `sudo`ed
alias sudo='sudo '

# Quickly repeat command with `sudo`
alias sudor="sudo !!"

# Verbose calendar
alias calv='date +"[M]%B [W]%V [D]%A [N]%d [T]%H:%M"'

# Stopwatch
alias timer='printf "Timer started. Stop with Ctrl-D.\n" \
&& date && time cat && date'

# IP addresses
# External IP
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
# Local IP
alias localip="ipconfig getifaddr en0"
# All IPs
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\
\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\
\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service & DNS cache
alias flushdns='dscacheutil -flushcache; killall -1 mDNSResponder 2>/dev/null; \
printf "DNS cache flushed!\n"'

# Renew DHCP lease
alias renewdhcp='printf "add State:/Network/Interface/en0/RefreshConfiguration temporary\n" | \
sudo scutil && ipconfig getpacket en0 1>/dev/null && \
printf "DHCP lease renewed!\n" || printf "Renewing DHCP lease failed!\n"'

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework\
/Frameworks/LaunchServices.framework/Support/lsregister -kill -r \
-domain local -domain system -domain user && killall Finder"

# Canonical `hexdump`; some systems have this symlinked
hash "hd" 2>/dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
hash "md5sum" 2>/dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
hash "sha1sum" 2>/dev/null || alias sha1sum="shasum"

# JavaScriptCore REPL
Jscbin="/System/Library/Frameworks/JavaScriptCore.\
framework/Versions/A/Resources/jsc";
[ -e "${Jscbin}" ] && alias jsc="${Jscbin}"
unset Jscbin

# Trim new lines and copy to clipboard
alias ctn="tr -d '\n' | pbcopy"

# Show/hide hidden files in Finder
alias showfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && \
defaults write NSGlobalDomain AppleShowAllFiles -bool true && killall Finder"
alias hidefiles="defaults write com.apple.finder AppleShowAllFiles -bool false && \
defaults write NSGlobalDomain AppleShowAllFiles -bool false && killall Finder"

# Show/hide all desktop icons
alias showdsk="defaults write com.apple.finder CreateDesktop -bool true \
&& killall Finder"
alias hidedsk="defaults write com.apple.finder CreateDesktop -bool false \
&& killall Finder"

# URL-encode strings
alias urle='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf="/System/Library/Automator/Combine\ PDF\ \
Pages.action/Contents/Resources/join.py"

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# `PlistBuddy` alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# `airport` CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/\
Versions/Current/Resources/airport'

# Ring the terminal bell, and put a badge on Terminal.app Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Intuitive `map` function
# For example, to list all directories that contain a certain file:
# find . -type f -name .gitattributes | map dirname
alias map="xargs -n1"

# Call HTTP requests directly instead of e.g. `lwp-request -m GET`
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "${method}"="lwp-request -m '${method}'"
done;

# Make `grunt` print stack traces by default
hash grunt 2>/dev/null && alias grunt="grunt --stack"

# Suspend user
alias suspu='/System/Library/CoreServices/Menu\ Extras/User.menu/\
Contents/Resources/CGSession -suspend'

# Print battery percentage
alias btp='pmset -g batt | egrep "([0-9]+\%).*" -o --colour=auto | cut -f1 -d";"'

# Reload the shell (i.e. invoke as a login shell)
alias rldsh="exec ${SHELL} -l"

# Print each `PATH` entry on a separate line
alias paths='printf "${PATH//:/\\n}\n"'

# Transmission CLI client
alias tsm='transmission-remote'
alias tsd='transmission-daemon'

# When there's time to kill..
alias starwars='telnet "towel.blinkenlights.nl"'

# `pbcopy` and `pbpaste` on Linux
# `STDOUT` redirection to prevent `tmux` stall
# https://askubuntu.com/a/898094
#alias pbcopy='xclip -selection clipboard 1>/dev/null'
#alias pbpaste='xclip -selection clipboard -o 1>/dev/null'
